@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

:root {
  --color--primary:rgb(0, 0, 0);
 --main--elements-darkmode: hsl(209, 23%, 22%);
 --main--bg-darkmode: hsl(207, 26%, 17%);
--main--text-lightmode: hsl(200, 15%, 8%);
--main--input-lightmode: hsl(0, 0%, 52%);
--main--bg-lightmode: hsl(0, 0%, 98%);
--text-elements-dark-light:  hsl(0, 0%, 100%);
--shadowColor: rgba(0, 0, 0, 0.137);
  --Shadow: -1px 1px 20px var(--shadowColor);
}





body {
  font-family: 'Nunito Sans', sans-serif;
}

.dark {
  background-color: var(--main--bg-darkmode);
  --color--primary:rgb(255, 255, 255);
}






